* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Playfair Display', serif;
}

/*Estilos para la barra de navegacion*/
.header {
    background-image: url('/public/images/fondo\ \(2\).png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

.navbar {
    background-color: transparent;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar_list {
    display: block;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.navbar_list li {
    margin: 0 20px;
}

.navbar_list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    position: relative;
}
.navbar_list a::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(104, 248, 193); /* Color de la línea, ajusta según sea necesario */
    bottom: -4px; /* Ajusta la posición de la línea debajo del texto */
    transition: width 0.3s ease; /* Agrega una transición suave a la anchura de la línea */
}
.navbar_list a:hover::after {
    width: 100%; 
}
.navbar_list a:hover {
    color: rgb(104, 248, 193);
}

.briefcase {
    font-size: 35px;
}

.nav-text {
    font-size: 23px;
}

@media (min-width: 768px) {
    .navbar{
        display: flex;
        justify-content: flex-end;
        padding: 10px;
    }
    .navbar_list {
        display: flex;
        align-items: center;
        margin: 15px 0 0 0;
        padding: 0;
    }
    .navbar_list li{
        margin-right: 30px;
    }
    .briefcase{
        margin-right: 500px;
    }
}
.header_container {
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_title {
    height: 100px;
    width: 700px;
    background-color: #038181;
    border-radius: 20px; 
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_title::before {
    content: "";
    position: absolute;
    height: 800px;
    width: 800px;
    background-image: conic-gradient(rgb(44, 2, 122) 20deg, transparent 120deg);
    animation: rotar 2s linear infinite;
}
@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
.header_title::after {
    content: "";
    position: absolute;
    height: 90px;
    width: 690px;
    background-color: black;
    border-radius: 0; /* Cambiado de 10% a 0 para tener esquinas rectas */
    box-shadow: inset 16px 14px 20px #0000008c;
}
.title{
    color: #fff;
    font-size: 45px;
    z-index: 2;
    background-color: transparent;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}
/*estilos del main*/
#container {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 50%;
    margin: 15px;
    padding: 15px;
    box-shadow: 2px 2px 4px rgba(5, 0, 0, 0.3);
}

.card h2 {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.card button {
    margin-top: 15px;
    background-color: #038181;
    color: #fff;
    font-weight: bold;
    border: none;
    height: 35px;
    border-radius: 10px;
}

@media (min-width: 768px) {
    #container {
        flex-direction: row;
    }

    .card {
        width: 60%;
        margin: 0 15px;
    }
}

/*estilos footer*/
.footer {
    background-color: #038181;
    height: fit-content;
    text-align: center;
    color: #fff;
}

.footer h2 {
    font-size: 20px;
    padding-top: 20px;

}

.footer a {
    color: #fff;
    font-size: 25px;
}

.footer p {
    margin-top: 30px;
    padding-bottom: 10px;
}